<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-2">

            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
              <button type="button" class="btn btn-success" [routerLink]="['create']">Create a stock</button>
            <p>
          </tr>
          <tr>
            <th>#</th>
            <th>Stock Name</th>
            <th>Stock Price</th>
            <th>Creation TimeStamp</th>
            <th></th>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stock of stocks">
            <th scope="row">{{stock.id}}</th>
            <td>{{stock.name}}</td>
            <td>
              <input type="text" [(ngModel)]="stock.currentPrice" [disabled]="!stock.isEditable"/>
            </td>
            <td>{{stock.creationTimestamp| date: 'dd/MM/yyyy'}}</td>
            <td>
              <button type="button" class="btn btn-success" *ngIf="!stock.isEditable" (click)="stock.isEditable=!stock.isEditable">Edit</button>
              <button type="button" class="btn btn-success" *ngIf="stock.isEditable" (click)=this.editStock(stock.id)>Save</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" *ngIf="!stock.isEditable" (click)="deleteStock(stock.id)">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
