<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="stockForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Name</label>
              <input type="text"
                     class="form-control"
                     formControlName="stockName">
            </div>

            <div class="form-group">
              <label>Price</label>
              <input type="text"
                     class="form-control"
                     formControlName="stockPrice">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-success"  [disabled]="!stockForm.valid" onclick="location.href='http://localhost:4200/stocks'">Submit</button>
          <button type="button" class="btn btn-danger" onclick="location.href='http://localhost:4200/stocks'">Cancel</button>
        </form>
      </section>
    </div>
  </div>
</div>
